.pagina {
	background-attachment: scroll;
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	width: 100%;
	height: 350px;
}
.cabecalho {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 275px;
}
.cabecalho img {
	text-align: center;
	height: 150px;
	width: 150px;
	border-radius: 100%;
}
.title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 26px;
	line-height: 32px;
	color: #666;
	text-align: center;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 60px;
	margin-bottom: 0px;
	float: left;
	font-weight: bold;
}
.descritivo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	line-height: 32px;
	color: #666;
	text-align: center;
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
}

.stroke {
	height: 2px;
	width: 20%;
	margin-right: 40%;
	margin-left: 40%;
	background-color: #126994;
	float: left;
	margin-bottom: 40px;
}
.redes {
	width: 300px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.rede {
	width: 30%;
	text-align: center;
	float: left;
	margin-right: 1.5%;
	margin-left: 1.5%;
	margin-bottom: 40px;
}
.rede a img{
	height: 55px;
	width: 55px;
	border-radius: 100%;
	margin-top: 5px;
	margin-bottom: 0px;
}
.rede a:hover  img{
	transition: 0.5s;
	margin-top: 0px;
	margin-bottom: 5px;

}


.art {
	background-color: #CCC;
	float: left;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 600px;
}
.contato_fabiano {
	float: left;
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #333;
	text-align: center;
	margin-top: 120px;
}
